html * {
  letter-spacing: 1px;
  line-height: 24px;
}

a {
  color: #2a64d8 !important;
}

a:hover {
  color: #3b8af1 !important;
}

html {
  scroll-behavior: smooth;
}

.header-anchor {
  display: none;
}

.markdown-header {
  margin-top: 12px;
}

.markdown-header hr {
  border-top: 1px solid #dadada;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor {
  display: inline;
}

@media (max-width: 1200px) {
  .wrapper {
    background-color: white !important;
  }

  body .header .container{
    padding: 4px 0px !important;
  }
}
