<div>
  <hr />
  <div style="color: #838383; font-size: 12px">
    <div>
      光梦百科 ©Copyright 2024
    </div>
    <div>文档构建：<a href="https://github.com/enncy/easy-wiki">easy-wiki</a></div>
    <div>本文链接：<a id="md-href"></a></div>
    <div>更新时间：<span class="footer-time">{{METADATA.update_at}}</span></div>
    <div>创建时间：<span class="footer-time">{{METADATA.create_at}}</span></div>
  </div>
  <script>
    window.addEventListener("load", () => {
      document.querySelectorAll(".footer-time,header-time").forEach((el) => {
        el.innerText = new Date(el.innerText)
          .toLocaleString("zh-CN")
          .replace(/\//g, "-")
          .slice(0, -3);
      });


      const href = document.getElementById("md-href")
      if (href) {
        href.href = window.location.href
        href.innerText = decodeURIComponent(window.location.href);
      }

    }); 
  </script>
</div>